<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="https://django-ex.web.cern.ch/assets/images/favicon.png">
      <title>Checkout example for Bootstrap</title>
      {% load staticfiles %} 
      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- Custom styles for this template -->
      <link href="https://getbootstrap.com/docs/4.0/examples/checkout/form-validation.css" rel="stylesheet">

      <link href="https://django-ex.web.cern.ch/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	  <link href="https://django-ex.web.cern.ch/assets/css/line-wash.css" rel="stylesheet" media="screen">

   </head>
   <body class="bg-light"></body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="/">Line-Wash</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add">Adicionar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/show">Lista</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/accounts/login">🔲</a>
              </li><li class="nav-item">
                <a class="nav-link" href="/accounts/logout">🔳</a>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </header>
      <br>
        {% block content %}
          <div class="card" style="width:20%;margin: 100px auto;">
            <article class="card-body">
              <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
              <hr>
              {% if form.errors %}
                <p class="text-danger text-center">O utlizador e password inseridos não são válidos. Tente outra vez por favor.</p>
              {% endif %}
              <p class="text-success text-center">Insira os dados de login</p>
              <form id="login-form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input id="id_username" name="username" class="form-control" placeholder="Nome utilizador" type="text">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                  <input class="form-control" id="id_password" name="password" type="password" placeholder="******">
                  {% if not next %}
                    <input type="hidden" name="next" value="/">  
                    {% else %}
                    <input type="hidden" name="next" value="{{ next }}">  
                  {% endif %}
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Login  </button>
              </div> <!-- form-group// -->
              <p class="text-center"><a href="#" class="btn">Recuperar password</a></p>
              </form>
            </article>
          </div> <!-- card.// -->
        {% endblock content %}


</body>