<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="https://django-ex.web.cern.ch/assets/images/favicon.png">
      <title>Adicionar Nova Lavagem</title>
      {% load staticfiles %} 
      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://getbootstrap.com/docs/4.0/examples/checkout/form-validation.css" rel="stylesheet">
      <link href="https://django-ex.web.cern.ch/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
      <link href="https://django-ex.web.cern.ch/assets/css/line-wash.css" rel="stylesheet" media="screen">
   </head>
   <body class="bg-light">
      <header>
         <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">Line-Wash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item active">
                     <a class="nav-link" href="/add">Adicionar <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/show">Lista</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/accounts/login">🔲</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/accounts/logout">🔳</a>
                  </li>
               </ul>
               <form class="form-inline mt-2 mt-md-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
               </form>
            </div>
         </nav>
      </header>
      <br>
      <div class="container">
         <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="52" height="52"/>
            <h3>Adicionar Lavagem</h3>
            <p class="lead">Inserir dados no formulário em baixo.</p>
         </div>
         <div class="row">
            <div class="col-md-12 order-md-1">
               <!-- <h4 class="mb-3">Adicionar</h4> -->
               <form method="POST" class="needs-validation" novalidate>
                  {% csrf_token %}
                  <div class="row">
                     <div class="col-md-4 mb-3">
                        <label for="id_timestamp">Data/Hora</label>
                        <input type="text" class="form-control form_datetime" id="id_timestamp" name="timestamp" value="{{ dateStr }}" autocomplete="off">
                        <div class="invalid-feedback">
                           valid first name is required.
                        </div>
                     </div>
                     <div class="col-md-3 mb-3">
                        <label for="{{ washForm.price.id_for_label }}">Preço €</label>
                        <input type="text" class="form-control" name="price" id="{{ washForm.price.id_for_label }}" placeholder="€" value="15" required>
                        <div class="invalid-feedback">
                           valid last name is required.
                        </div>
                     </div>
                     <div class="col-md-2 mb-2">
                        <label for="{{ washForm.tip.id_for_label }}">Tip<span class="text-muted"> (Optional)</span></label>
                        <input type="text" class="form-control" name="tip" id="{{ washForm.tip.id_for_label }}" placeholder="0 €" value="">
                        <div class="invalid-feedback">
                           Tip
                        </div>
                     </div>
                  </div>
                  
                  <div class="row">
                     <div class="col-md-3 mb-3">
                        <label for="{{ washForm.clientType.id_for_label }}">Tipo Cliente</label>
                        {{ washForm.clientType }}
                     </div>
                     <div class="col-md-3 mb-3">
                        <label for="{{ washForm.serviceType.id_for_label }}">Serviço</label>
                        {{ washForm.serviceType }}
                     </div>
                     <div class="col-md-3 mb-3">
                        <label for="{{ carForm.carType.id_for_label }}">Tipo Carro</label>
                        {{ carForm.carType }}
                     </div>
                     <div class="col-md-3 mb-3">
                        <label for="id_paymentType">Tipo Pagamento</label>
                        {{ washForm.paymentType }}
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-3 mb-3 custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="finalClient" id="{{ washForm.finalClient.id_for_label }}" checked="checked">
                        <label class="custom-control-label" for="{{ washForm.finalClient.id_for_label }}">Cliente Final</label>
                     </div>
                     <div class="col-md-3 mb-3 custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="payed" id="{{ washForm.payed.id_for_label }}" checked="checked">
                        <label class="custom-control-label" for="{{ washForm.payed.id_for_label }}">Pagou</label>
                     </div>
                  </div>
                  <hr class="mb-4">
                  <div class="row">
                     <div class="col-md-5 mb-3">
                        <label for="{{ carForm.brand.id_for_label }}">Marca</label>
                        <select class="custom-select d-block w-100" name="brand" id="{{ washForm.brand.id_for_label }}">
                           <option value="" selected disabled hidden>Seleccionar...</option>
                           {% for brand in carBrands %}
                           <option value="{{ brand }}">{{ brand }}</option>
                           {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                           Please select a valid brand.
                        </div>
                     </div>
                     <div class="col-md-4 mb-3">
                        <label for="{{ carForm.model.id_for_label }}">Modelo</label>
                        <input type="text" class="form-control" name="model" id="{{ carForm.model.id_for_label }}" value="">
                     </div>
                     <div class="col-md-3 mb-3">
                        <label for="{{ carForm.plate.id_for_label }}">Matricula</label>
                        <input type="text" class="form-control" name="plate" id="{{ carForm.plate.id_for_label }}" placeholder="XX-XX-XX" required>
                        <div class="invalid-feedback">
                           A matricula é um atributo obrigatório.
                        </div>
                     </div>
                  </div>
                  <hr class="mb-4">      
                  <div class="row">
                     <div class="col-md-5 mb-3 ">
                        <label for="{{ clientForm.phone.id_for_label }}">Telefone</label>
                        <input type="text" class="form-control" name="phone" id="{{ clientForm.phone.id_for_label }}" value="" required>
                        <div class="invalid-feedback">
                           O telefone é um atributo obrigatório.
                        </div>
                     </div>
                     <div class="col-md-4 mb-3 ">
                        <label for="{{ clientForm.birthday.id_for_label }}">Data Nascimento</label>
                        <input type="text" class="form-control form_datetime" name="birthday" id="{{ clientForm.birthday.id_for_label }}" value="{{ dateStr }}" autocomplete="off">
                     </div>
                     <div class="col-md-3 mb-3 ">
                        <label for="{{ clientForm.nif.id_for_label }}">NIF</label>
                        <input type="text" class="form-control" name="nif" id="{{ clientForm.nif.id_for_label }}" value="">
                     </div>
                  </div>
                  <div class="mb-3">
                     <label for="{{ clientForm.name.id_for_label }}">Nome</label>
                     <input type="text" class="form-control" name="name" id="{{ clientForm.name.id_for_label }}" value="Anonimo">
                  </div>
                  <div class="mb-3">
                     <label for="{{ clientForm.email.id_for_label }}">Email <span class="text-muted">(Optional)</span></label>
                     <input type="email" class="form-control" name="email" id="{{ clientForm.email.id_for_label }}" placeholder="you@example.com">
                     <div class="invalid-feedback">
                        Inserir e-email válido ou deixar em branco.
                     </div>
                  </div>
                  <div class="mb-3">
                     <label for="{{ clientForm.address.id_for_label }}">Endereço</label>
                     <input type="text" class="form-control" name="address" id="{{ clientForm.address.id_for_label }}" value="">
                  </div>
                  
                  <div class="form-group">
                     <label for="text-area">Comentários</label>
                     <textarea class="form-control rounded-0" id="text-area" rows="4"></textarea>
                  </div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Gravar</button>
               </form>
            </div>
         </div>
         <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2019-2020 Line Wash</p>
            <ul class="list-inline">
               <li class="list-inline-item"><a href="#">Privacy</a></li>
               <li class="list-inline-item"><a href="#">Terms</a></li>
               <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
         </footer>
      </div>
      
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
      <script>
         (function() {
            'use strict';
            window.addEventListener('load', function() {
               var forms = document.getElementsByClassName('needs-validation');
               var validation = Array.prototype.filter.call(forms, function(form) {
               form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                     event.preventDefault();
                     event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                  }, 
               false);
               });
            }, false);
         })();
      </script>
       <script type="text/javascript" src="https://django-ex.web.cern.ch/assets/libs/bootstrap-datepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
       <script type="text/javascript" src="https://django-ex.web.cern.ch/assets/libs/bootstrap-datepicker/bootstrap-datetimepicker.pt.js" charset="UTF-8"></script>
       <script type="text/javascript">
           $('.form_datetime').datetimepicker({
             language:  'pt',
             format: "yyyy-mm-dd hh:ii",
             weekStart: 1,
             todayBtn:  1,
             autoclose: 1,
             todayHighlight: 1,
             startView: 2,
             forceParse: 0,
             showMeridian: 0,
             minView: 1
           });
       </script>
	   <script type="text/javascript">
            $(".price-update").change(function () {
             var serviceType = $('#{{ washForm.serviceType.id_for_label }} option:selected').val();
             var clientType = $('#{{ washForm.clientType.id_for_label }} option:selected').val();
             var carType = $('#{{ carForm.carType.id_for_label }} option:selected').val();
             $.getJSON('/price/' + serviceType + "/" + clientType + "/" + carType + "/" , function(resultJSON) {
                  $('#{{ washForm.price.id_for_label }}').val(resultJSON.price);
               });
			});
       </script>
   </body>
</html>
