<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="https://django-ex.web.cern.ch/assets/images/favicon.png">
      <title>Checkout example for Bootstrap</title>
      {% load staticfiles %} 
      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- Custom styles for this template -->
      <link href="https://getbootstrap.com/docs/4.0/examples/checkout/form-validation.css" rel="stylesheet">

      <link href="https://django-ex.web.cern.ch/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
   </head>
   <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Line-Wash</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/add">Adicionar <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/show">Lista</a>
             </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login">🔲</a>
            </li><li class="nav-item">
              <a class="nav-link" href="/accounts/logout">🔳</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <br>
   <body class="bg-light">
      <div class="container">
         <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="52" height="52">
            <h3>Editar lavagem</h3>
            <p class="lead">Insert or modify data in the form below.</p>
         </div>
         <div class="row">
            <div class="col-md-8 order-md-1">
               <!-- <h4 class="mb-3">Adicionar</h4> -->
               <form method="POST" class="needs-validation" action="/update/{{ wash.id}}/" novalidate>
                  {% csrf_token %}  
                <div class="row">
                     
                     <!-- <div class="form-group">
                        <label for="dtp_input1" class="col-md-2 control-label">DateTime Picking</label>
                        <div class="input-group date form_datetime col-md-5" data-date="" data-date-format="dd-mm-yyyy - hh:ii" data-link-field="dtp_input1">
                           <input class="form-control" size="16" type="text" value="" readonly>
                           <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                           <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                        </div>
                        <input type="hidden" id="dtp_input1" value="" /><br/>
                     </div> -->
                     <!-- style = "width:500%;" -->
                     <div class="col-md-6 mb-3">
                        <label for="id_timestamp">Data/Hora</label>
                        <input type="text" class="form-control form_datetime"  placeholder="" value="{{ wash.timestamp|date:'Y-m-d H:i' }}" autocomplete="off">
                        <div class="invalid-feedback">
                           Valid first name is required.
                        </div>
                     </div>
                     <input type="hidden" id="id_timestamp" value="{{ wash.timestamp|date:'Y-m-d H:i' }}" name="timestamp" readonly/>

                     <div class="col-md-6 mb-3">
                        <label for="{{ washForm.price.id_for_label }}">Preço €</label>
                        <input type="text" class="form-control" name="price" id="{{ washForm.price.id_for_label }}" placeholder="€" value="{{ wash.price }}" required>
                        <div class="invalid-feedback">
                           Valid last name is required.
                        </div>
                     </div>
                  </div>
                  <div class="mb-3">
                     <label for="{{ washForm.tip.id_for_label }}">Tip<span class="text-muted"> (Optional)</span></label>
                     <input type="text" class="form-control" name="tip" id="{{ washForm.tip.id_for_label }}" placeholder="0 €" value="{% if not wash.tip %} 0 {% else %} {{ wash.tip }} {% endif %} ">
                     <div class="invalid-feedback">
                       Tip
                     </div>
                  </div>
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="finalClient" id="{{ washForm.finalClient.id_for_label }}" {% if wash.finalClient %} checked {% endif %}>
                      <label class="custom-control-label" for="{{ washForm.finalClient.id_for_label }}">Cliente final</label>
                   </div>
                   <hr class="mb-4">
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Gravar</button>
               </form>
               {% if wash.car or wash.client %}
                  <hr>
                  {% if wash.car %}
                  <a class="btn btn-outline-secondary" href="\edit\car\{{ wash.car.id }}">Editar Carro</a>
                  {% endif %}
                  {% if wash.client %}
                  <a class="btn btn-outline-secondary" href="\edit\client\{{ wash.client.id }}">Editar Cliente</a>
                  {% endif %}
               {% endif %}
            </div>
         </div>
         <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2019-2020 Line Wash</p>
            <ul class="list-inline">
               <li class="list-inline-item"><a href="#">Privacy</a></li>
               <li class="list-inline-item"><a href="#">Terms</a></li>
               <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
         </footer>
      </div>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
      <script>
         // Example starter JavaScript for disabling form submissions if there are invalid fields
         (function() {
           'use strict';
         
           window.addEventListener('load', function() {
             // Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.getElementsByClassName('needs-validation');
         
             // Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function(form) {
               form.addEventListener('submit', function(event) {
                 if (form.checkValidity() === false) {
                   event.preventDefault();
                   event.stopPropagation();
                 }
                 form.classList.add('was-validated');
               }, false);
             });
           }, false);
         })();
      </script>
   </body>

   <script type="text/javascript" src="https://django-ex.web.cern.ch/assets/libs/bootstrap-datepicker/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
   <script type="text/javascript" src="https://django-ex.web.cern.ch/assets/libs/bootstrap-datepicker/bootstrap-datetimepicker.pt.js" charset="UTF-8"></script>
   <script type="text/javascript">
       $('.form_datetime').datetimepicker({
         language:  'pt',
         format: "yyyy-mm-dd hh:ii",
         weekStart: 1,
         todayBtn:  1,
         autoclose: 1,
         todayHighlight: 1,
         startView: 2,
         forceParse: 0,
         showMeridian: 0,
         minView: 1,
         linkField: "id_timestamp",
         linkFormat: "yyyy-mm-dd hh:ii"
       });
   </script>

</html>
