<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="https://django-ex.web.cern.ch/assets/images/favicon.png">
      <title>Checkout example for Bootstrap</title>
      {% load staticfiles %} 
      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <!-- Custom styles for this template -->
      <link href="https://getbootstrap.com/docs/4.0/examples/checkout/form-validation.css" rel="stylesheet">
      <link href="https://django-ex.web.cern.ch/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
   </head>
   <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
         <a class="navbar-brand" href="/">Line-Wash</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link" href="/add">Adicionar <span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/show">Lista</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/accounts/login">🔲</a>
                </li><li class="nav-item">
                  <a class="nav-link" href="/accounts/logout">🔳</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
               <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
         </div>
      </nav>
   </header>
   <br>
   <body class="bg-light">
      <div class="container">
         <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="52" height="52">
            <h3>Editar Carro</h3>
            <p class="lead">Insert or modify data in the form below.</p>
         </div>
         <div class="row">
            <div class="col-md-8 order-md-1">
               <form method="POST" class="needs-validation" action="/update/car/{{ car.id }}/" novalidate>
                  {% csrf_token %}
                  <div class="col-md-3 mb-3">
                     <label for="{{ carForm.plate.id_for_label }}">Matricula</label>
                     <input type="text" class="form-control" name="plate" id="{{ carForm.plate.id_for_label }}" placeholder="XX-XX-XX" required value="{{ car.plate }}">
                     <div class="invalid-feedback">
                        Plate required.
                     </div>
                  </div>
                  <div class="col-md-5 mb-3">
                     <label for="{{ carForm.brand.id_for_label }}">Marca</label>
                     <select class="custom-select d-block w-100" name="brand" id="{{ carForm.brand.id_for_label }}" value="{{ car.brand }}">
						<option value="" disabled hidden>Choose...</option>
						{% for brand in carBrands %}
						   <option value="{{ brand }}" {% if brand == car.brand %} selected {% endif %}>{{ brand }}</option>
						   {% endfor %}
                     </select>
                     <div class="invalid-feedback">
                        Please select a valid brand.
                     </div>
                  </div>
                  <div class="col-md-4 mb-3">
                     <label for="{{ carForm.model.id_for_label }}">Modelo</label>
                     <input type="text" class="form-control" name="model" id="{{ carForm.model.id_for_label }}" placeholder="" value="{{ car.model }}">
                  </div>
                  
                  <hr class="mb-4">
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Gravar</button>
               </form>
            </div>
         </div>
         <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2019-2020 Line Wash</p>
            <ul class="list-inline">
               <li class="list-inline-item"><a href="#">Privacy</a></li>
               <li class="list-inline-item"><a href="#">Terms</a></li>
               <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
         </footer>
      </div>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
      <script>
         // Example starter JavaScript for disabling form submissions if there are invalid fields
         (function() {
           'use strict';
         
           window.addEventListener('load', function() {
             // Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.getElementsByClassName('needs-validation');
         
             // Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function(form) {
               form.addEventListener('submit', function(event) {
                 if (form.checkValidity() === false) {
                   event.preventDefault();
                   event.stopPropagation();
                 }
                 form.classList.add('was-validated');
               }, false);
             });
           }, false);
         })();
      </script>
   </body>
</html>