<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="https://django-ex.web.cern.ch/assets/images/favicon.png">
      <title>Line Wash - Admin</title>
      {% load staticfiles %} 
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  

   </head>
   <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Line-Wash</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add">Adicionar</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/show">Lista <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login">🔲</a>
            </li><li class="nav-item">
              <a class="nav-link" href="/accounts/logout">🔳</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <br>
    <body>
        <div class="container" style="padding-top: 100px; max-width: 1500px;">
            <table id="washtable" class="table table-striped table-bordered table-sm">  
                <thead class="thead-dark">  
                <tr>  
                    <th>Data</th>  
                    <th>Preço €</th>  
                    <th>Tip €</th>  
                    <th>Final</th>  
                    <th>Marca</th>  
                    <th>Modelo</th>  
                    <th>Matricula</th>  
                    <th>Cliente</th>  
                    <th>NIF</th>  
                    <th>Email</th>  
                    <th>Morada</th>  
                    <th>Opções</th>  
                </tr>  
                </thead>  
                <tbody>  
            {% for wash in washes %}  
                <tr>  
                    <td>{{ wash.timestamp|date:'d-m-Y H:i' }}</td>  
                    <td>{{ wash.price }}</td>  
                    <td>{{ wash.tip }}</td>  
                    <td>
                        <input type="checkbox" name="clientFinal" disabled {% if wash.finalClient %} checked {% endif %} />
                    </td>  
                    <td>{{ wash.car.brand }}</td>  
                    <td>{{ wash.car.model }}</td>  
                    <td>{{ wash.car.plate }}</td>  
                    <td>{{ wash.client.name }}</td>  
                    <td>{{ wash.client.nif }}</td>  
                    <td>{{ wash.client.email }}</td>  
                    <td>{{ wash.client.address }}</td>  
                    <td>  
                        <a href="/edit/{{ wash.id }}"><span class="glyphicon glyphicon-pencil" >Editar</span></a>  
                        <a href="/delete/{{ wash.id }}">Apagar</a>  
                    </td>  
                </tr>  
            {% endfor %}  
                </tbody>  
            </table>  
        </div>
    <br>  
    <br>  
    <center><a href="/add" class="btn btn-primary">Adicionar</a></center>  
    </body>  
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script> 
      $(document).ready(function() {
        $('#washtable').DataTable({
          "language": {
            "lengthMenu": "Mostrar _MENU_ registos por página",
            "zeroRecords": "Sem resultados",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "Sem resultados disponiveis",
            "infoFiltered": "(filtrado de um total de _MAX_ registos)",
			"search": "Procurar:",
			"paginate": {
				"first":      "Primeiro",
				"last":       "Ultimo",
				"next":       "Próximo",
				"previous":   "Anterior"
			},
        }
        });
      } );
    </script>
</html>